header{
    background-color: lightblue;
    border: 5px chartreuse;
    width: 770px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}

main{
    width: 780px;
    height: 400px;
}

nav{
    background-color: gray;
    width: 150px;
    height: 435px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

section{
    background-color: lightgray;
    width: 450px;
    height: 430px;
    float: left;
    margin: 10px;
    border-radius: 10px;
}

#primero{
    background-color: lightgreen;
    width: 440px;
    height: 120px;
    float: left;
}

#segundo{
    background-color: honeydew;
    width: 440px;
    height: 120px;
    float: left;
}

#tercero{
    background-color: pink;
    width: 440px;
    height: 120px;
    float: left;
}

aside{
    background-color: greenyellow;
    width: 140px;
    height: 450px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

footer{
    background-color: lightcoral;
    border: 5px chartreuse;
    width: 770px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    float: left;
}