/*
h1{
    color: red;
}

h2{
    color: red;
}

h3{
    color: red;
}

h4{
    color: red;
}

h5{
    color: red;
}

h6{
    color: red;
}
*/

h1,h2,h3{
    color: red;
    text-align: center;
    background-color: brown;
}

h4,h5,h6{
    color: blueviolet;
    text-align: left;
}